/*
@name:
__components.scss
@description:
This file simply loads all partials found in the components folder.
Components can be thought of as small repeatable blocks.
@author:
Jamie McInerney
*/

@import "logo";