/*
@name:
_page-border.scss
@description:
Styles for the fixed page border.
@author:
Jamie McInerney
*/
.page-border {
  position: fixed;
  z-index: 8000;

  &--top {
    @extend .page-border;
    top: 0;
    width: 100%;
    border-top: 2rem solid black;
  }

  &--bottom {
    @extend .page-border;
    bottom: 0;
    width: 100vw;
    border-bottom: 2rem solid black;
  }

  &--left {
    @extend .page-border;
    left: 0;
    height: 100vh;
    border-left: 2rem solid black;
  }

  &--right {
    @extend .page-border;
    right: 0;
    height: 100vh;
    border-right: 2rem solid black;
  }
}