/*
@title:
Variables.scss
@description:
This file holds all the variables for the project
@author:
Jamie McInerney
*/

/*
Fonts
*/
$header-font: 'Carrois Gothic SC', "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: 'Cutive Mono', "Courier New", monospace;

/*
Colours
*/
$black: #333;
$font-black: #4c4c4c;

/*
Breakpoints
*/

/*
Z-index
*/